#####
.pio
debug.*/
release.*/
release/
build*/
install*/
.depends_cache/
codegen/generated/
codegen/test/gsl/
ext/deps/*
docs/doxygen

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile

#####
# CLion
.idea
cmake-build*/

####
# Sublime Text 3
*.sublime-workspace

####
# Visual Studio (VisualGDB)
Debug*/
gcc*
obj/
bin/
.vs/

Carthage

####
format_list.txt

####
# Python
__pycache__/

####
# OpenWRT
*.o
*.so
*.a
*.internal
cmake_clean*.cmake
progress.make
depend.make
build.make
DependInfo.cmake
C.includecache
progress.marks
Makefile
link.txt
.built
.source_dir
.prepared
.quilt_checked
.configured*
transitive-args.cmake
install_manifest.txt
flags.make
cmake_install.cmake
CMakeCache.txt
**/CMakeFiles/**
**/depends/**
**/ipkg-install/**
**/CONTROL/**




!sdk/config
demo-iotkit-qt.pro.user
wifi_data.ini
demo/esp32/test/.vscode
