Format: 3.0 (quilt)
Source: python-virgil-crypto
Binary: python3-virgil-crypto
Architecture: any
Version: 3.3.0-1
Maintainer: Eduard Ponomarenko <eponomarenko@virgilsecurity.com>
Homepage: https://virgilsecurity.com
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8), dh-python, python3-all-dev, python3-setuptools, txt2man, procps, gcc, doxygen, swig, cmake
Package-List:
 python3-virgil-crypto deb IOT/libs optional arch=any
